<div class="footerLogo"></div>
<div class="row linkBox">
    <div class="col-6 col-md">
        <h5>services</h5>
        <ul class="list-unstyled text-small">
            <li><a href="#">service</a></li>
            <li><a href="#">custom</a></li>
            <li><a href="#">another</a></li>
            <li><a href="#">final</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>blog</h5>
        <ul class="list-unstyled text-small">
            <li><a href="#">business</a></li>
            <li><a href="#">education</a></li>
            <li><a href="#">government</a></li>
            <li><a href="#">gaming</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>about</h5>
        <ul class="list-unstyled text-small">
            <li><a href="#">team</a></li>
            <li><a href="#">locations</a></li>
            <li><a href="#">privacy</a></li>
            <li><a href="#">terms</a></li>
        </ul>
    </div>
</div>
<div class="credetialsWrap">
    <a href="">terms of use</a>
</div>
<div class="madeBy">made by <span>gheorghe ceapchii</span></div>
