@{
    ViewBag.Title = "About";
}

<div class="contentPageWrap">
    <div class="mainWrap">
        <div class="pwTop">
            <div class="pwTitleDate">
                <div class="pwTitle">about me</div>
                <div class="pwDate">something and nothing about us</div>
            </div>
        </div>
        <div class="contentText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ligula dui. Maecenas tempus gravida finibus. Ut pretium id nisi eu faucibus. Etiam et tellus sem. Aliquam sodales efficitur dignissim. Nullam vitae quam sed mauris varius volutpat a vel turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            <br /><br />
            Maecenas ornare quam eget laoreet maximus. Vivamus dictum eros eu libero hendrerit, ac molestie nunc malesuada. Sed pretium porta erat, eget feugiat nibh consequat non. Sed a justo quis nulla rhoncus varius eu at orci. Integer sit amet nisi elit. Cras auctor et felis in luctus. Maecenas dictum egestas sem, et vestibulum dui accumsan nec. Phasellus elementum scelerisque felis sit amet commodo. Sed sit amet leo est. Ut malesuada rhoncus augue.
        </div>
    </div>
</div>
<div class="aboutMap">
    <div class="mapWrap">
        <div class="imageCoverBackground"></div>
    </div>
</div>