@{
    ViewBag.Title = "Administration Area";
}

<div class="tabPageHeader">
    <div class="mainWrap">
        <div class="tbhInfo">
            <div class="tbhiTitle">
                administration area
                <span class="tbhiTitleDot"></span>
            </div>
            <div class="tbhiDescr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales interdum diam, sit amet consectetur tellus tristique id.</div>
        </div>
    </div>
</div>
<div class="apan-container">
    <div class="apan-wrap">
        <div class="apan-left">
            <ul class="list-group apan-list-members">
                <li class="apan-list-item">
                    <div class="apan-item-info">
                        <div class="apan-item-avatar" style="background-image: url(/Content/imgs/default_avatar.png);"></div>
                        <div class="apan-item-name"><span>admin</span></div>
                    </div>
                    <div class="apan-item-actions">
                        <a href="#" class="btn"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn"><i class="fas fa-eraser"></i></a>
                    </div>
                </li>
                <li class="apan-list-item">
                    <div class="apan-item-info">
                        <div class="apan-item-avatar" style="background-image: url(/Content/imgs/default_avatar.png);"></div>
                        <div class="apan-item-name"><span>test</span></div>
                    </div>
                    <div class="apan-item-actions">
                        <a href="#" class="btn"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn"><i class="fas fa-eraser"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="apan-right">
            <div class="apan-option">
                <div class="apan-option-title">maintenance</div>
                <div class="toggleCompCont noSelect">
                    <label class="toggleCompSwitch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="apan-option">
                <div class="apan-option-title">allow registration</div>
                <div class="toggleCompCont noSelect">
                    <label class="toggleCompSwitch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
